@media (min-width: 768px) {
    :root {
        --ref-ui-radius-none: 0px;
        --ref-ui-radius-xs: 3px;
        --ref-ui-radius-sm: 4px;
        --ref-ui-radius-md: 6px;
        --ref-ui-radius-lg: 8px;
        --ref-ui-radius-2xl: 12px;
        --ref-ui-radius-rounded: 999px;
        --ref-text-7xl-font-size: 64px;
        --ref-text-7xl-line-height-heading: 84px;
        --ref-text-6xl-font-size: 56px;
        --ref-text-6xl-line-height-heading: 72px;
        --ref-text-5xl-font-size: 40px;
        --ref-text-5xl-line-height-heading: 52px;
        --ref-text-4xl-font-size: 32px;
        --ref-text-4xl-line-height-heading: 42px;
        --ref-text-3xl-font-size: 24px;
        --ref-text-3xl-line-height-heading: 32px;
        --ref-text-2xl-font-size: 20px;
        --ref-text-2xl-line-height-heading: 26px;
        --ref-text-xl-font-size: 18px;
        --ref-text-xl-line-height-heading: 24px;
        --ref-text-lg-font-size: 16px;
        --ref-text-lg-line-height-heading: 24px;
        --ref-text-md-font-size: 14px;
        --ref-text-md-line-height-heading: 24px;
        --ref-text-sm-font-size: 13px;
        --ref-text-sm-line-height-heading: 20px;
        --ref-text-xs-font-size: 12px;
        --ref-text-xs-line-height-heading: 16px;
        --ref-text-2xs-font-size: 11px;
        --ref-text-2xs-line-height-heading: 14px;
        --ref-ui-size-xs: 32px;
        --ref-ui-size-sm: 36px;
        --ref-ui-size-lg: 44px;
        --ref-ui-size-xl: 56px;
        --ref-ui-size-2xl: 64px;
        --ref-ui-radius-3xl: 16px;
        --ref-ui-radius-4xl: 20px;
        --ref-ui-radius-5xl: 24px;
        --ref-ui-radius-6xl: 32px;
        --ref-ui-radius-xl: 10px;
        --ref-ui-border-outline-border-width-active: 2px;
        --ref-ui-border-focus-ring-width: 2px;
        --ref-ui-border-outline-border-width: 1px;
        --ref-ui-size-5xs: 16px;
        --ref-ui-size-3xs: 24px;
        --ref-ui-size-3xl: 80px;
        --ref-ui-size-4xl: 96px;
        --ref-ui-size-5xl: 128px;
        --ref-ui-icon-2xs: 12px;
        --ref-ui-icon-md: 24px;
        --ref-ui-icon-lg: 32px;
        --ref-ui-icon-sm: 20px;
        --ref-ui-icon-xs: 16px;
        --ref-checkbox-sm-icon-size: 14px;
        --ref-toggle-base-width: 48px;
        --ref-rating-group-lg-group-gap: 0px;
        --ref-rating-group-base-group-gap: 0px;
        --ref-rating-group-sm-group-gap: 0px;
        --ref-breadcrumbs-item-base-icon-size: 14px;
        --ref-breadcrumbs-sm-gap: 0px;
        --ref-layout-padding-2xl: var(--static-space-6x);
        --ref-layout-padding-xl: var(--static-space-4x);
        --ref-layout-padding-lg: var(--static-space-3x);
        --ref-layout-padding-md: var(--static-space-2-5x);
        --ref-layout-padding-sm: var(--static-space-2x);
        --ref-layout-padding-xs: var(--static-space-1-5x);
        --ref-layout-padding-3xl: var(--static-space-8x);
        --ref-layout-padding-4xl: var(--static-space-12x);
        --ref-layout-padding-5xl: var(--static-space-16x);
        --ref-layout-padding-3xs: var(--static-space-1x);
        --ref-layout-padding-4xs: var(--static-space-0-75x);
        --ref-layout-container-max-width: 1400px;
        --ref-layout-container-padding-horicontal: 32px;
        --ref-layout-gap-5xl: var(--static-space-16x);
        --ref-layout-gap-4xl: var(--static-space-10x);
        --ref-layout-gap-3xl: var(--static-space-7x);
        --ref-layout-gap-2xl: var(--static-space-5x);
        --ref-layout-gap-xl: var(--static-space-4x);
        --ref-layout-gap-lg: var(--static-space-3x);
        --ref-layout-gap-sm: var(--static-space-2x);
        --ref-layout-gap-xs: var(--static-space-1-5x);
        --ref-layout-gap-2xs: var(--static-space-1-25x);
        --ref-layout-gap-3xs: var(--static-space-1x);
        --ref-layout-gap-4xs: var(--static-space-0-75x);
        --ref-text-7xl-marign-bottom: var(--static-space-8x);
        --ref-text-6xl-margin-bottom: var(--static-space-6x);
        --ref-text-5xl-margin-bottom: var(--static-space-4x);
        --ref-text-7xl-line-height-body: 96px;
        --ref-text-4xl-margin-bottom: var(--static-space-2-5x);
        --ref-text-3xl-margin-bottom: var(--static-space-2-5x);
        --ref-text-2xl-margin-bottom: var(--static-space-2-5x);
        --ref-text-xl-margin-bottom: var(--static-space-2-5x);
        --ref-text-lg-margin-bottom: var(--static-space-2-5x);
        --ref-text-md-margin-bottom: var(--static-space-2x);
        --ref-text-sm-margin-bottom: var(--static-space-1-5x);
        --ref-text-xs-margin-bottom: var(--static-space-1x);
        --ref-text-2xs-margin-bottom: var(--static-space-0-5x);
        --ref-text-6xl-line-height-body: 72px;
        --ref-text-5xl-line-height-body: 60px;
        --ref-text-4xl-line-height-body: 48px;
        --ref-text-3xl-line-height-body: 36px;
        --ref-text-2xl-line-height-body: 32px;
        --ref-text-xl-line-height-body: 28px;
        --ref-text-lg-line-height-body: 24px;
        --ref-text-md-line-height-body: 24px;
        --ref-text-sm-line-height-body: 20px;
        --ref-text-xs-line-height-body: 18px;
        --ref-text-2xs-line-height-body: 16px;
        --ref-badge-xs-counter-padding: 3px;
        --ref-badge-sm-icon-size: 14px;
        --ref-badge-sm-dot-size: 6px;
        --ref-badge-xs-dot-size: 6px;
        --ref-text-7xl-marign-top: var(--static-space-10x);
        --ref-text-6xl-margin-top: var(--static-space-8x);
        --ref-text-5xl-margin-top: var(--static-space-6x);
        --ref-text-4xl-margin-top: var(--static-space-3-5x);
        --ref-text-3xl-margin-top: var(--static-space-3-5x);
        --ref-text-2xl-margin-top: var(--static-space-2-5x);
        --ref-text-xl-margin-top: var(--static-space-3-5x);
        --ref-text-lg-margin-top: var(--static-space-3-5x);
        --ref-text-md-margin-top: var(--static-space-3x);
        --ref-text-sm-margin-top: var(--static-space-2-5x);
        --ref-text-xs-margin-top: var(--static-space-1-5x);
        --ref-text-2xs-margin-top: var(--static-space-1x);
        --ref-chip-button-lg-icon-size: 14px;
        --ref-chip-sm-gap: 0px;
        --ref-badge-xl-dot-size: 10px;
        --ref-layout-gap-5xs: var(--static-space-0-5x);
        --ref-layout-padding-5xs: var(--static-space-0-5x);
        --ref-layout-padding-2xs: var(--static-space-1-25x);
        --ref-ui-size-2xs: 28px;
        --ref-ui-size-4xs: 20px;
        --ref-layout-gap-md: var(--static-space-2-5x);
        --ref-layout-gap-6xs: var(--static-space-0-25x);
        --ref-ui-icon-3xs: 8px;
        --ref-ui-size-md: 40px;
        --ref-layout-padding-6xs: var(--static-space-0-25x);
        --ref-toggle-circle-sm-icon-size: 10px;
        --ref-toggle-circle-xs-size: 12px;
        --ref-avatar-group-xl-group-gap: -16px;
        --ref-avatar-group-lg-group-gap: -16px;
        --ref-avatar-group-base-group-gap: -14px;
        --ref-ui-border-action-border-width: 0px;
        --ref-avatar-group-sm-group-gap: -12px;
        --ref-ui-border-action-border-width-active: 0px;
        --ref-avatar-group-xs-group-gap: -12px;
        --ref-avatar-2xl-indicator-size: 18px;
        --ref-avatar-xl-indicator-size: 14px;
        --ref-avatar-lg-indicator-size: 14px;
        --ref-avatar-xs-indicator-size: 10px;
        --ref-avatar-4xs-indicator-size: 6px;
        --ref-avatar-3xs-font-size: 8px;
        --ref-avatar-3xs-line-height: 14px;
        --ref-avatar-4xs-font-size: 6px;
        --ref-avatar-4xs-line-height: 12px;
        --ref-ui-border-field-border-width: 1px;
        --ref-ui-border-field-border-width-active: 1px;
        --ref-rating-icon-lg-icon-size-hovered: 40px;
        --ref-rating-icon-sm-size: 30px;
        --ref-toggle-base-font-size: 10px;
        --ref-toggle-sm-font-size: 8px;
        --ref-toggle-xs-font-size: 6px;
        --ref-toggle-sm-line-weight: 12px;
        --ref-toggle-xs-line-weight: 10px;
        --ref-avatar-6xl-icon-size: 80px;
        --ref-avatar-5xl-icon-size: 64px;
        --ref-avatar-4xl-icon-size: 56px;
        --ref-avatar-3xl-icon-size: 44px;
        --ref-avatar-2xl-icon-size: 36px;
        --ref-avatar-lg-icon-size: 28px;
        --ref-avatar-md-icon-size: 24px;
        --ref-layout-grid-gutter: 0px;
        --ref-layout-grid-columns: 0px;
        --ref-tag-sm-icon-size: 14px;
        --ref-checkbox-base-dot-size: 14px;
        --ref-ui-opacity-overlay-80: 80px;
        --ref-ui-opacity-overlay-60: 60px;
        --ref-ui-opacity-overlay-40: 40px;
        --ref-ui-opacity-overlay-20: 20px;
        --ref-tooltip-condensed-max-width: 280px;
        --ref-tooltip-default-max-width: 320px;
        --ref-layout-padding-6xl: var(--static-space-20x);
        --ref-layout-gap-6xl: var(--static-space-18x);
        --ref-dropdown-base-max-height: 432px;
        --ref-dropdown-sm-max-height: 380px;
        --ref-ui-border-devider-width: 1px;
        --ref-slider--dsfgdg: 0px;
        --ref-card-default-max-width: 360px;
        
    }
}