:root{
    --ref-color-gray-700: var(--static-color-gray-700);
--ref-text-strong: var(--static-color-gray-950);
--ref-color-gray-500: var(--static-color-gray-500);
--ref-color-gray-400: var(--static-color-gray-400);
--ref-color-gray-300: var(--static-color-gray-300);
--ref-color-gray-200: var(--static-color-gray-200);
--ref-color-gray-100: var(--static-color-gray-100);
--ref-color-gray-50: var(--static-color-gray-50);
--ref-text-default: var(--static-color-gray-800);
--ref-text-lighter: var(--static-color-gray-700);
--ref-text-icons: var(--static-color-gray-600);
--ref-surface-main: var(--static-color-gray-0);
--ref-text-link: var(--sys-text-link);
--ref-text-link-hover: var(--sys-text-link-hover);
--ref-text-primary: var(--static-color-primary-550);
--ref-color-primary-500: var(--static-color-primary-500);
--ref-color-primary-700: var(--static-color-primary-700);
--ref-color-primary-300: var(--static-color-primary-300);
--ref-color-primary-100: var(--static-color-primary-100);
--ref-color-primary-50: var(--static-color-primary-50);
--ref-color-success-700: var(--static-color-green-700);
--ref-color-success-500: var(--static-color-green-500);
--ref-color-success-400: var(--static-color-green-400);
--ref-color-success-300: var(--static-color-green-300);
--ref-color-success-200: var(--static-color-green-200);
--ref-color-success-100: var(--static-color-green-100);
--ref-color-info-500: var(--static-color-blue-500);
--ref-color-info-450: var(--static-color-blue-450);
--ref-color-info-600: var(--static-color-blue-600);
--ref-color-info-250: var(--static-color-blue-250);
--ref-color-info-150: var(--static-color-blue-150);
--ref-color-info-50: var(--static-color-blue-50);
--ref-color-warning-500: var(--static-color-orange-500);
--ref-color-warning-450: var(--static-color-orange-450);
--ref-color-warning-250: var(--static-color-orange-250);
--ref-color-warning-150: var(--static-color-orange-150);
--ref-color-warning-50: var(--static-color-orange-50);
--ref-color-warning-600: var(--static-color-orange-600);
--ref-color-danger-500: var(--static-color-red-500);
--ref-color-danger-450: var(--static-color-red-450);
--ref-color-danger-250: var(--static-color-red-250);
--ref-color-danger-150: var(--static-color-red-150);
--ref-color-danger-50: var(--static-color-red-50);
--ref-text-success: var(--static-color-green-550);
--ref-text-danger: var(--static-color-red-550);
--ref-text-warning: var(--static-color-orange-550);
--ref-text-info: var(--static-color-blue-550);
--ref-color-danger-600: var(--static-color-red-600);
--ref-text-faded: var(--static-color-gray-600);
--ref-text-link-active: var(--sys-text-link-active);
--ref-text-icons-active: var(--sys-text-icon-active);
--ref-color-sale-600: var(--static-color-pink-600);
--ref-color-sale-500: var(--static-color-pink-500);
--ref-color-sale-450: var(--static-color-pink-450);
--ref-color-sale-250: var(--static-color-pink-250);
--ref-color-sale-150: var(--static-color-pink-150);
--ref-color-sale-50: var(--static-color-pink-50);
--ref-text-icons-decorative: var(--static-color-gray-500);
--ref-text-savings: var(--static-color-pink-550);
--ref-color-primary-600: var(--static-color-primary-600);
--ref-color-primary-800: var(--static-color-primary-800);
--ref-color-primary-900: var(--static-color-primary-900);
--ref-color-primary-950: var(--static-color-primary-950);
--ref-color-primary-200: var(--static-color-primary-200);
--ref-color-primary-400: var(--static-color-primary-400);
--ref-color-gray-800: var(--static-color-gray-800);
--ref-color-gray-900: var(--static-color-gray-900);
--ref-color-gray-600: var(--static-color-gray-600);
--ref-color-gray-950: var(--static-color-gray-950);
--ref-text-on-primary: var(--static-color-gray-0);
--ref-text-on-success: var(--static-color-gray-0);
--ref-color-success-50: var(--static-color-green-50);
--ref-color-success-600: var(--static-color-green-600);
--ref-color-success-800: var(--static-color-green-800);
--ref-color-success-900: var(--static-color-green-900);
--ref-color-success-950: var(--static-color-green-950);
--ref-text-on-danger: var(--static-color-gray-0);
--ref-text-on-warning: var(--static-color-gray-0);
--ref-text-on-info: var(--static-color-gray-0);
--ref-surface-main-overlay: var(--static-color-gray-0);
--ref-surface-container: var(--static-color-gray-0);
--ref-surface-container-overlay: var(--static-color-gray-0);
--ref-text-on-primary-faded: var(--static-color-primary-550);
--ref-color-primary-850: var(--static-color-primary-850);
--ref-text-on-success-faded: var(--static-color-green-600);
--ref-text-white: var(--static-color-gray-0);
--ref-color-primary-550: var(--static-color-primary-550);
--ref-color-primary-450: var(--static-color-primary-450);
--ref-color-success-750: var(--static-color-green-750);
--ref-surface-container-muted: var(--static-color-gray-50);
--ref-surface-main-muted: var(--static-color-gray-50);
--ref-color-gray-0: var(--static-color-gray-0);
--ref-color-gray-1000: var(--static-color-gray-1000);
--ref-color-primary-alpha-1: var(--static-color-primary-alpha-src500-08);
--ref-color-primary-alpha-2: var(--static-color-primary-alpha-src500-12);
--ref-color-primary-alpha-3: var(--static-color-primary-alpha-src500-16);
--ref-color-primary-alpha-4: var(--static-color-primary-alpha-src500-24);
--ref-color-primary-alpha-5: var(--static-color-primary-alpha-src500-32);
--ref-color-primary-250: var(--static-color-primary-250);
--ref-color-primary-150: var(--static-color-primary-150);
--ref-color-primary-750: var(--static-color-primary-750);
--ref-color-primary-alpha-6: var(--static-color-primary-alpha-src500-40);
--ref-color-primary-alpha-7: var(--static-color-primary-alpha-src500-48);
--ref-color-success-850: var(--static-color-green-850);
--ref-color-success-550: var(--static-color-green-550);
--ref-color-success-250: var(--static-color-green-250);
--ref-color-success-alpha-7: var(--static-color-green-alpha-a500-48);
--ref-color-success-alpha-6: var(--static-color-green-alpha-a500-40);
--ref-color-success-alpha-5: var(--static-color-green-alpha-a500-32);
--ref-color-success-alpha-4: var(--static-color-green-alpha-a500-24);
--ref-color-success-alpha-3: var(--static-color-green-alpha-a500-16);
--ref-color-success-alpha-2: var(--static-color-green-alpha-a500-12);
--ref-color-success-alpha-1: var(--static-color-green-alpha-a500-08);
--ref-color-success-450: var(--static-color-green-450);
--ref-color-success-150: var(--static-color-green-150);
--ref-color-warning-950: var(--static-color-orange-950);
--ref-color-warning-900: var(--static-color-orange-900);
--ref-color-warning-850: var(--static-color-orange-850);
--ref-color-warning-800: var(--static-color-orange-800);
--ref-color-warning-750: var(--static-color-orange-750);
--ref-color-warning-700: var(--static-color-orange-700);
--ref-color-warning-550: var(--static-color-orange-550);
--ref-color-warning-400: var(--static-color-orange-400);
--ref-color-warning-300: var(--static-color-orange-300);
--ref-color-warning-100: var(--static-color-orange-100);
--ref-color-warning-200: var(--static-color-orange-200);
--ref-color-warning-alpha-7: var(--static-color-orange-alpha-a500-48);
--ref-color-warning-alpha-6: var(--static-color-orange-alpha-a500-40);
--ref-color-warning-alpha-5: var(--static-color-orange-alpha-a500-32);
--ref-color-warning-alpha-4: var(--static-color-orange-alpha-a500-24);
--ref-color-warning-alpha-3: var(--static-color-orange-alpha-a500-16);
--ref-color-warning-alpha-2: var(--static-color-orange-alpha-a500-12);
--ref-color-warning-alpha-1: var(--static-color-orange-alpha-a500-08);
--ref-text-on-warning-faded: var(--static-color-orange-600);
--ref-text-on-info-faded: var(--static-color-blue-550);
--ref-text-on-danger-faded: var(--static-color-red-550);
--ref-color-gray-150: var(--static-color-gray-150);
--ref-color-danger-850: var(--static-color-red-850);
--ref-color-danger-800: var(--static-color-red-800);
--ref-color-danger-750: var(--static-color-red-750);
--ref-color-danger-700: var(--static-color-red-700);
--ref-color-danger-950: var(--static-color-red-950);
--ref-color-danger-900: var(--static-color-red-900);
--ref-color-danger-550: var(--static-color-red-550);
--ref-color-danger-300: var(--static-color-red-300);
--ref-color-danger-100: var(--static-color-red-100);
--ref-color-danger-400: var(--static-color-red-400);
--ref-color-danger-200: var(--static-color-red-200);
--ref-text-on-savings: var(--static-color-gray-0);
--ref-text-on-savings-faded: var(--static-color-red-550);
--ref-color-danger-alpha-7: var(--static-color-red-alpha-a500-48);
--ref-color-danger-alpha-6: var(--static-color-red-alpha-a500-40);
--ref-color-danger-alpha-5: var(--static-color-red-alpha-a500-32);
--ref-color-danger-alpha-4: var(--static-color-red-alpha-a500-24);
--ref-color-danger-alpha-3: var(--static-color-red-alpha-a500-16);
--ref-color-danger-alpha-2: var(--static-color-red-alpha-a500-12);
--ref-color-danger-alpha-1: var(--static-color-red-alpha-a500-08);
--ref-surface-background-on-main-100: var(--static-color-gray-100);
--ref-surface-border-on-main-100: var(--static-color-gray-100);
--ref-color-info-950: var(--static-color-blue-950);
--ref-color-info-850: var(--static-color-blue-850);
--ref-color-info-800: var(--static-color-blue-800);
--ref-color-info-750: var(--static-color-blue-750);
--ref-color-info-700: var(--static-color-blue-700);
--ref-color-info-900: var(--static-color-blue-900);
--ref-color-info-100: var(--static-color-blue-100);
--ref-color-info-200: var(--static-color-blue-200);
--ref-color-info-300: var(--static-color-blue-300);
--ref-color-info-400: var(--static-color-blue-400);
--ref-color-info-550: var(--static-color-blue-550);
--ref-color-info-alpha-7: var(--static-color-blue-alpha-a500-48);
--ref-color-info-alpha-6: var(--static-color-blue-alpha-a500-40);
--ref-color-info-alpha-5: var(--static-color-blue-alpha-a500-32);
--ref-color-info-alpha-4: var(--static-color-blue-alpha-a500-24);
--ref-color-info-alpha-3: var(--static-color-blue-alpha-a500-16);
--ref-color-info-alpha-2: var(--static-color-blue-alpha-a500-12);
--ref-color-info-alpha-1: var(--static-color-blue-alpha-a500-08);
--ref-color-sale-950: var(--static-color-pink-950);
--ref-color-sale-900: var(--static-color-pink-900);
--ref-color-sale-850: var(--static-color-pink-850);
--ref-color-sale-800: var(--static-color-pink-800);
--ref-color-sale-750: var(--static-color-pink-750);
--ref-color-sale-700: var(--static-color-pink-700);
--ref-color-sale-550: var(--static-color-pink-550);
--ref-color-sale-400: var(--static-color-pink-400);
--ref-color-sale-300: var(--static-color-pink-300);
--ref-color-sale-200: var(--static-color-pink-200);
--ref-color-sale-100: var(--static-color-pink-100);
--ref-color-sale-alpha-7: var(--static-color-pink-alpha-a500-48);
--ref-color-sale-alpha-6: var(--static-color-pink-alpha-a500-40);
--ref-color-sale-alpha-5: var(--static-color-pink-alpha-a500-32);
--ref-color-sale-alpha-4: var(--static-color-pink-alpha-a500-24);
--ref-color-sale-alpha-3: var(--static-color-pink-alpha-a500-16);
--ref-color-sale-alpha-2: var(--static-color-pink-alpha-a500-12);
--ref-color-sale-alpha-1: var(--static-color-pink-alpha-a500-08);
--ref-text-disabled: var(--static-color-gray-500);
--ref-text-heading: var(--static-color-gray-950);
--ref-surface-background-on-main-150: var(--static-color-gray-150);
--ref-surface-border-on-main-150: var(--static-color-gray-150);
--ref-text-inverse: var(--static-color-gray-0);
--ref-color-gray-alpha-7: var(--static-color-gray-alpha-a500-48);
--ref-color-gray-alpha-6: var(--static-color-gray-alpha-a500-40);
--ref-color-gray-alpha-5: var(--static-color-gray-alpha-a500-32);
--ref-color-gray-alpha-4: var(--static-color-gray-alpha-a500-24);
--ref-color-gray-alpha-3: var(--static-color-gray-alpha-a500-16);
--ref-color-gray-alpha-2: var(--static-color-gray-alpha-a500-12);
--ref-color-gray-alpha-1: var(--static-color-gray-alpha-src500-08);
--ref-surface-main-a0: var(--static-color-gray-alpha-a0-0);
--ref-color-gray-850: var(--static-color-gray-850);
--ref-border-overlay-300: var(--static-color-overlay-dark-300);
--ref-surface-background-on-main-0: var(--static-color-gray-0);
--ref-surface-background-on-main-primary-500: var(--static-color-primary-500);
--ref-surface-background-on-main-primary-900: var(--static-color-primary-800);
--ref-text-btn-ghost-: var(--static-color-gray-950);
--ref-color-gray-750: var(--static-color-gray-750);
--ref-shadow-overlay: #000000;
--ref-shadow-raised-default: #000000;
--ref-color-primary-650: var(--static-color-primary-650);
--ref-color-primary-350: var(--static-color-primary-350);
--ref-surface-border-container: var(--static-color-gray-150);
--ref-surface-border-on-container-100: var(--static-color-gray-100);
--ref-surface-border-on-container-150: var(--static-color-gray-150);
--ref-background--primary: var(--static-color-primary-500);
--ref-background--primary-faded: var(--static-color-primary-500);
--ref-border-overlay-200: var(--static-color-overlay-dark-200);
--ref-shadow-raised-strong: #000000;
--ref-surface-container-a0: var(--static-color-gray-alpha-a0-0);

}