.switcher {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__container {
        display: flex;
        width: var(--sys-toggle-lg-width);
        height: var(--sys-toggle-lg-height);
        border-radius: var(--sys-toggle-lg-radius);
        background: var(--sys-toggle-unchecked-bg);
        padding: var(--sys-toggle-lg-padding);
        justify-content: flex-start;
        align-items: center;
        gap: var(--sys-toggle-lg-gap);
        flex: 1 0 0;
        align-self: stretch;
        transition: all 0.3s ease;
        cursor: pointer;

        &:has(.switcher__input:checked) {
            border-radius: var(--sys-toggle-lg-radius);
            background: var(--sys-toggle-checked-bg);

            .switcher__slider {
                transform: translateX(32px);

                .switcher__icon--sun {
                    opacity: 0;
                    transform: scale(0) rotate(45deg);
                }
                .switcher__icon--moon {
                    opacity: 1;
                    transform: scale(1) rotate(0);
                }
            }
        }
    }

    &__input {
        display: none;
    }

    &__slider {
        display: flex;
        width: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        aspect-ratio: 1/1;
        border-radius: 999px;
        background: var(--sys-toggle-unchecked-circle-bg);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        overflow: hidden;
    }

    &__icons {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        position: absolute;
        width: 16px;
        height: 16px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &--sun {
            opacity: 1;
            transform: scale(1);
            fill: var(--sys-toggle-unchecked-circle-fg);
        }

        &--moon {
            opacity: 0;
            transform: scale(0) rotate(-45deg);
            fill: var(--sys-toggle-checked-circle-fg);
        }
    }

    &--sm {
        .switcher__container {
            width: var(--sys-toggle-xs-width);
            height: var(--sys-toggle-xs-height);
            border-radius: var(--sys-toggle-xs-radius);
            padding: var(--sys-toggle-xs-padding);
            gap: var(--sys-toggle-xs-gap);

            &:has(.switcher__input:checked) {
                .switcher__slider {
                    transform: translateX(16px);
                }
            }
        }

        .switcher__slider {
            width: 12px;
        }
    }
}

.section, .section__panel, .feature, .feature-banner {
    position: relative;
}

.section__switcher {
    position: absolute;
    z-index: 10;
}

.section {
    .section__switcher {
        top: 60px;
        right: 60px;
        
        &.switcher--mode {
            position: fixed;
            right: unset;
            left: 60px;
        }
    }
}
