[data-context="on-primary"] {
    --sys-text-strong: var(--static-color-gray-0);
    --sys-text-default: var(--static-color-overlay-light-950);
    --sys-text-lighter: var(--static-color-overlay-light-800);
    --sys-text-faded: var(--static-color-overlay-light-600);
    --sys-text-primary: var(--static-color-secondary-500);
    --sys-text-icon: #ffffff;
    --sys-text-link: #ffffff;
    --sys-text-link-hover: #ffffff;
    --sys-text-link-active: #ffffff;
    --sys-text-icon-active: #ffffff;
    --sys-text-savings: var(--static-color-pink-300);
    --sys-button-primary-solid-bg: var(--static-color-primary-150);
    --sys-button-primary-solid-fg: var(--static-color-primary-550);
    --sys-text-success: var(--static-color-green-300);
    --sys-button-primary-outline-border: var(--static-color-primary-450);
    --sys-button-primary-outline-fg: var(--static-color-primary-100);
    --sys-button-primary-faded-bg: var(--static-color-primary-alpha-src450-24);
    --sys-button-primary-faded-fg: var(--static-color-gray-0);
    --sys-button-primary-solid-bg-hover: var(--static-color-primary-100);
    --sys-button-primary-faded-bg-hover: var(--static-color-primary-alpha-src500-40);
    --sys-button-primary-solid-bg-active: var(--static-color-gray-0);
    --sys-button-primary-solid-bg-focus: var(--static-color-primary-150);
    --sys-button-primary-faded-bg-active: var(--static-color-primary-alpha-src500-56);
    --sys-button-primary-faded-bg-focus: var(--static-color-primary-alpha-src500-24);
    --sys-button-primary-outline-border-active: var(--static-color-primary-450);
    --sys-button-primary-outline-border-focus: var(--static-color-primary-450);
    --sys-button-primary-outline-border-hover: var(--static-color-primary-300);
    --sys-button-primary-outline-bg: var(--static-color-overlay-light-0);
    --sys-button-primary-outline-bg-hover: var(--static-color-primary-alpha-src500-16);
    --sys-button-primary-outline-bg-active: var(--static-color-primary-alpha-src500-12);
    --sys-button-primary-outline-bg-focus: var(--static-color-overlay-light-0);
    --sys-text-on-primary: var(--static-color-gray-0);
    --sys-text-on-success: var(--static-color-gray-0);
    --sys-text-on-savings: var(--static-color-gray-0);
    --sys-text-warning: var(--static-color-orange-300);
    --sys-text-on-warning: var(--static-color-gray-0);
    --sys-text-danger: var(--static-color-red-300);
    --sys-text-on-danger: var(--static-color-gray-0);
    --sys-feedback-focus-ring: var(--static-color-primary-400);
    --sys-text-on-primary-faded: var(--static-color-primary-250);
    --sys-button-success-solid-bg: var(--static-color-green-150);
    --sys-button-success-solid-bg-hover: var(--static-color-green-100);
    --sys-button-success-solid-bg-active: var(--static-color-gray-0);
    --sys-button-success-solid-bg-focus: var(--static-color-green-150);
    --sys-button-success-solid-fg: var(--static-color-green-600);
    --sys-button-success-faded-bg: var(--static-color-green-alpha-a450-24);
    --sys-button-success-faded-bg-hover: var(--static-color-green-alpha-a450-32);
    --sys-button-success-faded-bg-active: var(--static-color-green-alpha-a450-48);
    --sys-button-success-faded-bg-focus: var(--static-color-green-alpha-a500-24);
    --sys-button-success-faded-fg: var(--static-color-green-100);
    --sys-button-success-outline-bg: var(--static-color-overlay-light-0);
    --sys-button-success-outline-bg-hover: var(--static-color-green-alpha-a500-16);
    --sys-button-success-outline-bg-active: var(--static-color-green-alpha-a500-08);
    --sys-button-success-outline-bg-focus: var(--static-color-overlay-light-0);
    --sys-button-success-outline-border: var(--static-color-green-450);
    --sys-button-success-outline-border-hover: var(--static-color-green-300);
    --sys-button-success-outline-border-active: var(--static-color-green-450);
    --sys-button-success-outline-border-focus: var(--static-color-green-450);
    --sys-button-success-outline-fg: var(--static-color-green-100);
    --sys-text-on-success-faded: var(--static-color-green-300);
    --sys-feedback-primary-solid-bg: var(--static-color-primary-150);
    --sys-feedback-primary-solid-border: var(--static-color-primary-450);
    --sys-feedback-primary-solid-fg: var(--static-color-primary-550);
    --sys-feedback-primary-faded-bg: var(--static-color-primary-alpha-src450-24);
    --sys-feedback-primary-faded-fg: var(--static-color-gray-0);
    --sys-surface-main: var(--static-color-primary-800);
    --sys-surface-main-overlay: var(--static-color-primary-750);
    --sys-surface-main-muted: var(--static-color-primary-900);
    --sys-surface-container: var(--static-color-primary-650);
    --sys-surface-container-overlay: var(--static-color-primary-700);
    --sys-surface-container-muted: var(--static-color-primary-850);
    --sys-choice-unchecked-default-bg: var(--static-color-overlay-light-0);
    --sys-button-primary-faded-border-active: var(--static-color-primary-alpha-src500-56);
    --sys-button-primary-solid-border-active: var(--static-color-gray-0);
    --sys-button-success-solid-border-active: var(--static-color-gray-0);
    --sys-button-success-faded-border-active: var(--static-color-green-alpha-a500-12);
    --sys-button-warning-solid-bg: var(--static-color-orange-50);
    --sys-button-warning-solid-bg-hover: var(--static-color-orange-150);
    --sys-button-warning-solid-bg-active: var(--static-color-orange-200);
    --sys-button-warning-solid-bg-focus: var(--static-color-orange-50);
    --sys-button-warning-solid-border-active: var(--static-color-orange-300);
    --sys-button-warning-solid-fg: var(--static-color-orange-600);
    --sys-button-warning-faded-bg: var(--static-color-orange-alpha-a500-24);
    --sys-button-warning-faded-bg-hover: var(--static-color-orange-alpha-a500-40);
    --sys-button-warning-faded-bg-active: var(--static-color-orange-alpha-a500-16);
    --sys-button-warning-faded-bg-focus: var(--static-color-orange-alpha-a500-24);
    --sys-button-warning-faded-border-active: var(--static-color-orange-alpha-a500-12);
    --sys-button-warning-faded-fg: var(--static-color-gray-0);
    --sys-button-warning-outline-bg: var(--static-color-overlay-light-0);
    --sys-button-warning-outline-bg-hover: var(--static-color-orange-alpha-a450-16);
    --sys-button-warning-outline-bg-active: var(--static-color-orange-alpha-a450-08);
    --sys-button-warning-outline-bg-focus: var(--static-color-overlay-light-0);
    --sys-button-warning-outline-border: var(--static-color-orange-450);
    --sys-button-warning-outline-border-hover: var(--static-color-orange-300);
    --sys-button-warning-outline-border-active: var(--static-color-orange-300);
    --sys-button-warning-outline-border-focus: var(--static-color-orange-450);
    --sys-button-warning-outline-fg: var(--static-color-gray-0);
    --sys-feedback-success-solid-bg: var(--static-color-green-150);
    --sys-feedback-success-faded-bg: var(--static-color-green-alpha-a450-24);
    --sys-feedback-success-faded-fg: var(--static-color-green-100);
    --sys-feedback-success-faded-fg-alert: var(--static-color-green-100);
    --sys-feedback-success-solid-fg: var(--static-color-green-600);
    --sys-feedback-warning-solid-bg: var(--static-color-orange-50);
    --sys-feedback-warning-solid-fg: var(--static-color-orange-600);
    --sys-feedback-warning-faded-bg: var(--static-color-orange-alpha-a500-24);
    --sys-feedback-warning-faded-fg: var(--static-color-gray-0);
    --sys-feedback-warning-faded-fg-alert: var(--static-color-gray-0);
    --sys-text-on-warning-faded: var(--static-color-orange-300);
    --sys-text-on-danger-faded: var(--static-color-red-300);
    --sys-text-on-savings-faded: var(--static-color-red-300);
    --sys-choice-unchecked-default-border: var(--static-color-overlay-light-300);
    --sys-feedback-primary-faded-fg-alert: var(--static-color-primary-200);
    --sys-text-on-info: var(--static-color-gray-0);
    --sys-text-on-info-faded: var(--static-color-blue-300);
    --sys-feedback-danger-solid-bg: var(--static-color-red-50);
    --sys-feedback-danger-solid-fg: var(--static-color-red-600);
    --sys-feedback-danger-faded-bg: var(--static-color-red-alpha-a500-24);
    --sys-feedback-danger-faded-fg: var(--static-color-gray-0);
    --sys-feedback-danger-faded-fg-alert: var(--static-color-gray-0);
    --sys-button-danger-solid-bg: var(--static-color-red-50);
    --sys-button-danger-solid-bg-hover: var(--static-color-red-150);
    --sys-button-danger-solid-bg-active: var(--static-color-red-200);
    --sys-button-danger-solid-bg-focus: var(--static-color-red-50);
    --sys-button-danger-solid-border-active: var(--static-color-red-300);
    --sys-button-danger-solid-fg: var(--static-color-red-600);
    --sys-button-danger-faded-bg: var(--static-color-red-alpha-a500-24);
    --sys-button-danger-faded-bg-hover: var(--static-color-red-alpha-a500-32);
    --sys-button-danger-faded-bg-active: var(--static-color-red-alpha-a500-16);
    --sys-button-danger-faded-bg-focus: var(--static-color-red-alpha-a500-24);
    --sys-button-danger-faded-border-active: var(--static-color-red-alpha-a500-12);
    --sys-button-danger-faded-fg: var(--static-color-gray-0);
    --sys-button-danger-outline-bg: var(--static-color-overlay-light-0);
    --sys-button-danger-outline-bg-hover: var(--static-color-red-alpha-a450-16);
    --sys-button-danger-outline-bg-active: var(--static-color-red-alpha-a450-08);
    --sys-button-danger-outline-bg-focus: var(--static-color-overlay-light-0);
    --sys-button-danger-outline-border: var(--static-color-red-450);
    --sys-button-danger-outline-border-hover: var(--static-color-red-300);
    --sys-button-danger-outline-border-active: var(--static-color-red-300);
    --sys-button-danger-outline-border-focus: var(--static-color-red-450);
    --sys-button-danger-outline-fg: var(--static-color-gray-0);
    --sys-button-info-solid-bg: var(--ref-color-info-50);
    --sys-button-info-solid-bg-hover: var(--ref-color-info-200);
    --sys-button-info-solid-bg-active: var(--ref-color-info-250);
    --sys-button-info-solid-bg-focus: var(--ref-color-info-50);
    --sys-button-info-solid-border-active: var(--ref-color-info-300);
    --sys-button-info-solid-fg: var(--ref-color-info-600);
    --sys-button-info-faded-bg: var(--static-color-blue-alpha-a500-24);
    --sys-button-info-faded-bg-hover: var(--static-color-blue-alpha-a500-40);
    --sys-button-info-faded-bg-active: var(--static-color-blue-alpha-a500-16);
    --sys-button-info-faded-bg-focus: var(--static-color-blue-alpha-a500-24);
    --sys-button-info-faded-border-active: var(--static-color-blue-alpha-a500-12);
    --sys-button-info-faded-fg: var(--static-color-gray-0);
    --sys-button-info-outline-bg: var(--static-color-overlay-light-0);
    --sys-button-info-outline-bg-hover: var(--static-color-blue-alpha-a500-16);
    --sys-button-info-outline-bg-active: var(--static-color-blue-alpha-a500-08);
    --sys-button-info-outline-bg-focus: var(--static-color-overlay-light-0);
    --sys-button-info-outline-border: var(--static-color-blue-450);
    --sys-button-info-outline-border-hover: var(--static-color-blue-300);
    --sys-button-info-outline-border-active: var(--static-color-blue-450);
    --sys-button-info-outline-border-focus: var(--static-color-blue-450);
    --sys-button-info-outline-fg: var(--static-color-gray-0);
    --sys-surface-border-on-main-100: var(--static-color-primary-850);
    --sys-button-default-solid-bg: var(--static-color-gray-200);
    --sys-button-default-solid-bg-hover: var(--static-color-gray-150);
    --sys-button-default-solid-bg-active: var(--static-color-gray-100);
    --sys-button-default-solid-bg-focus: var(--static-color-gray-200);
    --sys-button-default-solid-border-active: var(--static-color-gray-100);
    --sys-button-default-solid-fg: var(--static-color-gray-800);
    --sys-button-default-faded-bg: var(--static-color-overlay-light-100);
    --sys-button-default-faded-bg-hover: var(--static-color-overlay-light-200);
    --sys-button-default-faded-bg-active: var(--static-color-overlay-light-300);
    --sys-button-default-faded-bg-focus: var(--static-color-overlay-light-100);
    --sys-button-default-faded-border-active: var(--static-color-overlay-light-300);
    --sys-button-default-faded-fg: var(--static-color-gray-0);
    --sys-button-default-outline-bg: var(--static-color-overlay-light-0);
    --sys-button-default-outline-bg-hover: var(--static-color-overlay-light-50);
    --sys-button-default-outline-bg-active: var(--static-color-overlay-light-100);
    --sys-button-default-outline-bg-focus: var(--static-color-overlay-light-0);
    --sys-button-default-outline-border: var(--static-color-overlay-light-300);
    --sys-button-default-outline-border-hover: var(--static-color-overlay-light-400);
    --sys-button-default-outline-border-active: var(--static-color-overlay-light-400);
    --sys-button-default-outline-border-focus: var(--static-color-overlay-light-300);
    --sys-button-default-outline-fg: var(--static-color-gray-0);
    --sys-text-white: var(--static-color-gray-0);
    --sys-button-disabled-bg: var(--static-color-primary-250);
    --sys-button-disabled-fg: var(--static-color-primary-400);
    --sys-button-disabled-outline-border: var(--static-color-primary-300);
    --sys-button-primary-ghost-fg: var(--static-color-primary-100);
    --sys-button-primary-ghost-bg-hover: var(--static-color-blue-alpha-a500-16);
    --sys-button-default-ghost-fg: var(--static-color-overlay-light-950);
    --sys-button-default-ghost-bg-hover: var(--static-color-overlay-light-100);
    --sys-button-default-ghost-bg-active: var(--static-color-overlay-light-200);
    --sys-button-primary-ghost-bg-active: var(--static-color-primary-alpha-src500-12);
    --sys-button-info-ghost-bg-hover: #ffffff;
    --sys-button-info-ghost-bg-active: #ffffff;
    --sys-button-info-ghost-fg: #ffffff;
    --sys-button-success-ghost-bg-hover: var(--static-color-green-alpha-a500-16);
    --sys-button-success-ghost-bg-active: var(--static-color-green-alpha-a500-12);
    --sys-button-success-ghost-fg: var(--static-color-green-100);
    --sys-button-warning-ghost-bg-hover: #ffffff;
    --sys-button-warning-ghost-bg-active: #ffffff;
    --sys-button-warning-ghost-fg: #ffffff;
    --sys-button-danger-ghost-bg-hover: #ffffff;
    --sys-button-danger-ghost-bg-active: #ffffff;
    --sys-button-danger-ghost-fg: #ffffff;
    --sys-button-saving-solid-bg: var(--static-color-pink-50);
    --sys-button-saving-solid-bg-hover: var(--static-color-pink-150);
    --sys-button-saving-solid-bg-active: var(--static-color-pink-200);
    --sys-button-saving-solid-bg-focus: var(--static-color-pink-50);
    --sys-button-saving-solid-border-active: var(--static-color-pink-300);
    --sys-button-saving-solid-fg: var(--static-color-pink-600);
    --sys-button-saving-faded-bg: var(--static-color-pink-alpha-a500-24);
    --sys-button-saving-faded-bg-hover: var(--static-color-pink-alpha-a500-32);
    --sys-button-saving-faded-bg-active: var(--static-color-pink-alpha-a500-16);
    --sys-button-saving-faded-bg-focus: var(--static-color-pink-alpha-a500-24);
    --sys-button-saving-faded-border-active: var(--static-color-pink-alpha-a500-12);
    --sys-button-saving-faded-fg: var(--static-color-gray-0);
    --sys-button-saving-outline-bg: var(--static-color-overlay-light-0);
    --sys-button-saving-ghost-bg-hover: #ffffff;
    --sys-button-saving-ghost-bg-active: #ffffff;
    --sys-button-saving-ghost-fg: #ffffff;
    --sys-button-saving-outline-bg-hover: var(--static-color-pink-alpha-a450-16);
    --sys-button-saving-outline-bg-active: var(--static-color-pink-alpha-a450-08);
    --sys-button-saving-outline-bg-focus: var(--static-color-overlay-light-0);
    --sys-button-saving-outline-border: var(--static-color-pink-450);
    --sys-button-saving-outline-border-hover: var(--static-color-pink-300);
    --sys-button-saving-outline-border-active: var(--static-color-pink-300);
    --sys-button-saving-outline-border-focus: var(--static-color-pink-450);
    --sys-button-saving-outline-fg: var(--static-color-gray-0);
    --sys-feedback-info-solid-bg: var(--ref-color-info-50);
    --sys-feedback-info-solid-fg: var(--ref-color-info-600);
    --sys-feedback-info-faded-bg: var(--static-color-blue-alpha-a500-24);
    --sys-feedback-info-faded-fg: var(--static-color-gray-0);
    --sys-feedback-info-faded-fg-alert: var(--static-color-gray-0);
    --sys-feedback-default-solid-bg: var(--static-color-gray-200);
    --sys-feedback-default-solid-fg: var(--static-color-gray-800);
    --sys-feedback-default-faded-bg: var(--static-color-overlay-light-100);
    --sys-feedback-default-faded-border: var(--static-color-primary-alpha-src500-12);
    --sys-feedback-default-faded-fg: var(--static-color-gray-0);
    --sys-feedback-default-faded-fg-alert: var(--static-color-gray-0);
    --sys-choice-unchecked-default-fg: var(--static-color-gray-0);
    --sys-choice-unchecked-default-border-hover: var(--static-color-overlay-light-500);
    --sys-choice-unchecked-default-border-active: var(--static-color-overlay-light-300);
    --sys-border-on-surface-container-default: #ffffff;
    --sys-border-on-surface-container-strong: #ffffff;
    --sys-border-on-surface-container-subtle: #ffffff;
    --sys-choice-unchecked-default-bg-hover: var(--static-color-primary-alpha-src500-16);
    --sys-text-disabled: var(--static-color-overlay-light-500);
    --sys-choice-unchecked-default-bg-active: var(--static-color-primary-alpha-src500-12);
    --sys-label-default-title: var(--sys-text-strong);
    --sys-label-disable-title: var(--sys-text-disabled);
    --sys-label-error-title: var(--sys-text-danger);
    --sys-helper-default-fg: var(--sys-text-lighter);
    --sys-helper-error-fg: var(--sys-text-danger);
    --sys-helper-success-fg: var(--sys-text-success);
    --sys-helper-disable-fg: var(--sys-text-disabled);
    --sys-choice-unchecked-error-bg: var(--static-color-overlay-light-0);
    --sys-choice-unchecked-error-bg-hover: var(--static-color-red-alpha-a450-16);
    --sys-choice-unchecked-error-bg-active: var(--static-color-red-alpha-a450-08);
    --sys-choice-unchecked-error-border: var(--static-color-red-450);
    --sys-choice-unchecked-error-border-hover: var(--static-color-red-300);
    --sys-choice-unchecked-error-border-active: var(--static-color-red-300);
    --sys-choice-unchecked-error-fg: var(--static-color-gray-0);
    --sys-border-error: var(--static-color-red-450);
    --sys-border-error-hover: var(--static-color-red-400);
    --sys-border-error-active: var(--static-color-red-550);
    --sys-choice-unchecked-error-bg-disabled: var(--static-color-overlay-light-0);
    --sys-choice-unchecked-error-border-disabled: var(--static-color-red-alpha-a450-40);
    --sys-choice-unchecked-success-bg: var(--static-color-overlay-light-0);
    --sys-choice-unchecked-success-bg-hover: var(--static-color-green-alpha-a500-16);
    --sys-choice-unchecked-success-bg-active: var(--static-color-green-alpha-a500-08);
    --sys-choice-unchecked-success-bg-disabled: var(--static-color-overlay-light-0);
    --sys-choice-unchecked-success-border: var(--static-color-green-300);
    --sys-choice-unchecked-success-border-hover: var(--static-color-green-250);
    --sys-choice-unchecked-success-border-active: var(--static-color-green-450);
    --sys-choice-unchecked-success-border-disabled: var(--static-color-green-alpha-a450-40);
    --sys-choice-unchecked-success-fg: var(--static-color-gray-0);
    --sys-choice-checked-default-bg: var(--static-color-primary-400);
    --sys-choice-checked-error-bg: var(--ref-color-danger-400);
    --sys-choice-checked-error-bg-hover: var(--ref-color-danger-300);
    --sys-choice-checked-error-bg-active: var(--ref-color-danger-250);
    --sys-choice-checked-error-bg-disabled: var(--static-color-red-alpha-a450-40);
    --sys-choice-checked-error-border: var(--static-color-red-450);
    --sys-choice-checked-error-border-hover: var(--static-color-red-150);
    --sys-choice-checked-error-border-active: var(--static-color-red-300);
    --sys-choice-checked-error-border-disabled: #ffffff;
    --sys-choice-checked-error-fg: var(--static-color-gray-0);
    --sys-choice-checked-success-bg: var(--static-color-green-450);
    --sys-choice-checked-success-bg-hover: var(--static-color-green-400);
    --sys-choice-checked-success-bg-active: var(--static-color-green-300);
    --sys-choice-checked-success-bg-disabled: var(--static-color-green-alpha-a450-24);
    --sys-choice-checked-success-border: var(--static-color-green-150);
    --sys-choice-checked-success-border-hover: var(--static-color-green-100);
    --sys-choice-checked-success-border-active: var(--static-color-gray-0);
    --sys-choice-checked-success-border-disabled: #ffffff;
    --sys-choice-checked-success-fg: var(--static-color-gray-0);
    --sys-choice-checked-default-bg-hover: var(--static-color-primary-400);
    --sys-choice-checked-default-bg-active: var(--static-color-primary-550);
    --sys-choice-checked-default-border: var(--static-color-primary-400);
    --sys-choice-checked-default-border-hover: var(--static-color-primary-400);
    --sys-choice-checked-default-border-active: var(--static-color-primary-500);
    --sys-choice-checked-default-fg: var(--static-color-gray-0);
    --sys-choice-checked-default-bg-disabled: var(--static-color-primary-alpha-src450-40);
    --sys-choice-checked-default-border-disabled: var(--static-color-overlay-light-0);
    --sys-choice-unchecked-default-border-disabled: var(--static-color-overlay-light-300);
    --sys-choice-unchecked-default-bg-disabled: var(--static-color-overlay-light-0);
    --sys-text-heading: var(--static-color-gray-0);
    --sys-choice-checked-default-fg-disabled: var(--static-color-overlay-light-400);
    --sys-avatar-default-border: var(--static-color-overlay-light-100);
    --sys-avatar-default-bg: var(--sys-surface-background-on-main-100);
    --sys-text-inverse: var(--static-color-gray-0);
    --sys-avatar-indicator-bg-primary: var(--static-color-primary-500);
    --sys-avatar-indicator-bg-online: var(--static-color-green-500);
    --sys-avatar-indicator-bg-offline: var(--static-color-gray-400);
    --sys-avatar-indicator-bg-busy: var(--static-color-orange-500);
    --sys-avatar-indicator-bg-not-available: var(--static-color-red-500);
    --sys-avatar-indicator-border: var(--sys-border-surface-main-(?));
    --sys-avatar-indicator-fg: var(--static-color-gray-0);
    --sys-avatar-default-fg: var(--static-color-overlay-light-950);
    --sys-border-surface-main-: var(--sys-surface-main);
    --sys-toggle-checked-bg: var(--static-color-primary-400);
    --sys-toggle-checked-fg: var(--static-color-gray-0);
    --sys-toggle-unchecked-bg: var(--static-color-overlay-light-100);
    --sys-toggle-unchecked-fg: var(--static-color-gray-0);
    --sys-toggle-unchecked-bg-disabled: var(--static-color-overlay-light-100);
    --sys-toggle-unchecked-fg-disabled: var(--static-color-overlay-light-300);
    --sys-toggle-checked-bg-disabled: var(--static-color-primary-alpha-src450-40);
    --sys-toggle-checked-fg-disabled: var(--static-color-overlay-light-300);
    --sys-toggle-checked-bg-hover: var(--static-color-primary-400);
    --sys-toggle-checked-bg-active: var(--static-color-primary-550);
    --sys-toggle-unchecked-bg-hover: var(--static-color-overlay-light-200);
    --sys-toggle-unchecked-bg-active: var(--static-color-overlay-light-300);
    --sys-toggle-unchecked-border-active: var(--static-color-overlay-light-200);
    --sys-label-subtle-title: var(--sys-text-default);
    --sys-helper-warning-fg: var(--sys-text-warning);
    --sys-toggle-checked-circle-bg: var(--static-color-gray-0);
    --sys-toggle-checked-circle-fg: var(--static-color-primary-400);
    --sys-toggle-unchecked-circle-bg: var(--static-color-gray-0);
    --sys-toggle-unchecked-circle-fg: var(--static-color-gray-500);
    --sys-toggle-unchecked-circle-bg-disabled: var(--static-color-overlay-light-400);
    --sys-toggle-checked-circle-bg-disabled: var(--static-color-overlay-light-400);
    --sys-rating-unselected-bg-default: var(--static-color-overlay-light-300);
    --sys-rating-unselected-bg-hover: var(--static-color-primary-250);
    --sys-rating-unselected-bg-active: var(--static-color-primary-50);
    --sys-rating-unselected-bg-disabled: var(--static-color-primary-850);
    --sys-rating-selected-bg-default: var(--static-color-primary-300);
    --sys-rating-selected-bg-hover: var(--static-color-primary-200);
    --sys-rating-selected-bg-active: var(--static-color-primary-50);
    --sys-rating-selected-bg-disabled: var(--static-color-primary-850);
    --sys-button-group-divider-on-solid: #ffffff;
    --sys-button-group-divider-on-faded: #ffffff;
    --sys-slider-bg: var(--static-color-gray-0);
    --sys-slider-bg-hover: var(--static-color-gray-0);
    --sys-slider-bg-active: var(--static-color-gray-0);
    --sys-slider-bg-disabled: var(--static-color-primary-250);
    --sys-slider-border: var(--static-color-overlay-light-300);
    --sys-slider-border-hover: var(--static-color-overlay-light-500);
    --sys-slider-border-active: var(--static-color-overlay-light-300);
    --sys-slider-border-disabled: var(--static-color-primary-400);
    --sys-slider-bar-empty: var(--static-color-overlay-light-200);
    --sys-slider-bar: var(--static-color-primary-400);
    --sys-slider-bar-disabled: var(--static-color-primary-250);
    --sys-toggle-unchecked-circle-fg-disabled: var(--static-color-overlay-light-300);
    --sys-toggle-checked-circle-fg-disabled: var(--static-color-primary-250);
    --sys-breadcrumbs-item-text: var(--static-color-gray-300);
    --sys-breadcrumbs-item-text-hover: var(--static-color-gray-200);
    --sys-breadcrumbs-item-text-active: var(--static-color-gray-0);
    --sys-breadcrumbs-item-icon: var(--static-color-gray-300);
    --sys-breadcrumbs-item-icon-hover: var(--static-color-gray-200);
    --sys-breadcrumbs-item-icon-active: var(--static-color-gray-0);
    --sys-breadcrumbs-collapse-text: var(--static-color-gray-300);
    --sys-breadcrumbs-collapse-bg-hover: var(--static-color-overlay-light-200);
    --sys-breadcrumbs-collapse-bg-active: var(--static-color-overlay-light-300);
    --sys-breadcrumbs-group-border: var(--static-color-overlay-light-300);
    --sys-tab-solid-bg-hover: var(--static-color-overlay-light-50);
    --sys-tab-solid-bg-active: var(--static-color-overlay-light-200);
    --sys-tab-solid-fg-selected: var(--static-color-primary-600);
    --sys-tab-solid-fg-default: var(--sys-text-faded);
    --sys-tab-solid-bg-selected: var(--static-color-primary-150);
    --sys-tab-default-fg-hover: var(--sys-text-strong);
    --sys-tab-default-fg-active: var(--sys-text-link-active);
    --sys-tab-default-selected: var(--sys-text-on-primary);
    --sys-tab-default-fg-default: var(--sys-text-faded);
    --sys-tab-default-border-default: var(--static-color-overlay-light-300);
    --sys-tab-default-border-hover: var(--static-color-overlay-light-700);
    --sys-tab-default-bg-hover: var(--static-color-overlay-light-50);
    --sys-tab-solid-fg-hover: var(--sys-text-default);
    --sys-tab-contained-bg-hover: var(--static-color-overlay-light-100);
    --sys-tab-contained-bg-active: var(--static-color-overlay-light-200);
    --sys-tab-contained-bg-selected: var(--static-color-primary-150);
    --sys-tab-contained-fg-selected: var(--static-color-primary-550);
    --sys-tab-contained-fg-active: var(--sys-text-strong);
    --sys-tab-contained-fg-hover: var(--sys-text-strong);
    --sys-tab-contained-bg-group: var(--static-color-primary-alpha-src450-16);
    --sys-tab-contained-fg-default: var(--sys-text-faded);
    --sys-tab-default-bg-active: var(--static-color-overlay-light-200);
    --sys-tab-default-border-active: var(--static-color-overlay-light-700);
    --sys-tab-solid-fg-active: var(--static-color-primary-50);
    --sys-tab-default-disabled: var(--static-color-gray-alpha-a450-56);
    --sys-tab-solid-disabled: var(--static-color-gray-alpha-a450-56);
    --sys-tab-contained-disabled: var(--static-color-gray-alpha-a450-56);
    --sys-surface-main-a0: var(--static-color-primary-alpha-a750-0);
    --sys-tab-default-overlay-a0: var(--sys-surface-main-a0);
    --sys-tab-default-overlay-a100: var(--sys-surface-main);
    --sys-tab-solid-overlay-a100: var(--sys-surface-main);
    --sys-tab-solid-overlay-a0: var(--sys-surface-main-a0);
    --sys-accordion-heading-fg-hover: var(--sys-text-link-hover);
    --sys-accordion-heading-fg-active: var(--sys-text-link-active);
    --sys-accordion-heading-fg-default: var(--sys-text-heading);
    --sys-accordion-heading-fg-disabled: var(--sys-text-disabled);
    --sys-border-overlay-300: var(--static-color-overlay-light-300);
    --sys-input-default-border-active: var(--static-color-overlay-light-800);
    --sys-input-default-border-hover: var(--static-color-overlay-light-500);
    --sys-input-default-border: var(--static-color-overlay-light-300);
    --sys-input-default-bg-disabled: var(--static-color-overlay-light-0);
    --sys-input-default-fg: var(--sys-text-lighter);
    --sys-input-default-border-disabled: var(--static-color-overlay-light-300);
    --sys-input-default-bg: var(--static-color-overlay-light-0);
    --sys-input-default-fg-active: var(--sys-text-on-primary);
    --sys-input-default-fg-filled: var(--sys-text-strong);
    --sys-accordion-group-body-text: var(--sys-text-default);
    --sys-input-default-fg-disabled: var(--static-color-overlay-light-600);
    --sys-input-error-bg: var(--static-color-overlay-light-0);
    --sys-input-error-bg-disabled: var(--static-color-overlay-light-0);
    --sys-input-error-border: var(--static-color-red-300);
    --sys-input-error-border-hover: var(--static-color-red-250);
    --sys-input-error-border-active: var(--static-color-red-400);
    --sys-input-error-border-disabled: var(--static-color-overlay-light-300);
    --sys-input-error-fg: var(--sys-text-lighter);
    --sys-input-error-fg-active: var(--sys-text-on-danger);
    --sys-input-error-fg-filled: var(--sys-text-strong);
    --sys-input-error-fg-disabled: var(--static-color-overlay-light-600);
    --sys-input-success-bg: var(--static-color-overlay-light-0);
    --sys-input-success-border: var(--ref-color-success-300);
    --sys-input-success-border-hover: var(--ref-color-success-250);
    --sys-input-success-border-active: var(--ref-color-success-400);
    --sys-input-success-fg: var(--sys-text-lighter);
    --sys-input-success-fg-active: var(--sys-text-on-success);
    --sys-input-success-fg-filled: var(--sys-text-strong);
    --sys-input-success-bg-disabled: var(--static-color-overlay-light-0);
    --sys-input-success-border-disabled: var(--static-color-overlay-light-300);
    --sys-input-success-fg-disabled: var(--static-color-overlay-light-600);
    --sys-button-group-scroler: var(--static-color-overlay-light-400);
    --sys-accordion-group-bg: var(--static-color-overlay-light-200);
    --sys-accordion-group-border: var(--static-color-overlay-light-300);
    --sys-feedback-primary-solid-bg-count: var(--static-color-primary-150);
    --sys-feedback-primary-faded-bg-count: var(--static-color-gray-0);
    --sys-feedback-default-faded-bg-count: var(--static-color-gray-0);
    --sys-feedback-default-solid-bg-count: var(--static-color-primary-alpha-src500-12);
    --sys-chip-button-bg-hover: var(--static-color-overlay-light-100);
    --sys-chip-button-bg-active: var(--static-color-overlay-light-200);
    --sys-chip-button-fg: var(--static-color-gray-0);
    --sys-chip-button-fg-disabled: var(--static-color-overlay-light-400);
    --sys-chip-fg: var(--static-color-gray-0);
    --sys-chip-fg-disabled: var(--static-color-overlay-light-400);
    --sys-chip-border: var(--static-color-overlay-light-300);
    --sys-chip-border-hover: var(--static-color-primary-400);
    --sys-chip-border-active: var(--static-color-primary-300);
    --sys-chip-border-disabled: var(--static-color-overlay-light-100);
    --sys-feedback-default-oultine-fg: var(--static-color-gray-0);
    --sys-feedback-default-oultine-border-active: var(--static-color-overlay-light-600);
    --sys-feedback-default-oultine-border-hover: var(--static-color-overlay-light-400);
    --sys-feedback-default-oultine-bg: var(--static-color-overlay-light-0);
    --sys-feedback-default-oultine-border: var(--static-color-overlay-light-300);
    --sys-feedback-primary-outline-fg: var(--static-color-primary-100);
    --sys-feedback-primary-outline-border-hover: var(--static-color-primary-300);
    --sys-feedback-primary-outline-border: var(--static-color-primary-450);
    --sys-feedback-primary-outline-border-active: var(--static-color-primary-450);
    --sys-feedback-primary-outline-bg-active: var(--static-color-primary-alpha-src500-12);
    --sys-feedback-primary-outline-bg-hover: var(--static-color-primary-alpha-src500-16);
    --sys-feedback-primary-outline-bg: var(--static-color-overlay-light-0);
    --sys-feedback-info-outline-fg: var(--static-color-gray-0);
    --sys-feedback-info-outline-border: var(--static-color-blue-450);
    --sys-feedback-info-outline-bg: var(--static-color-overlay-light-0);
    --sys-feedback-success-outline-fg: var(--static-color-green-100);
    --sys-feedback-success-outline-border: var(--static-color-green-450);
    --sys-feedback-success-outline-bg: var(--static-color-overlay-light-0);
    --sys-feedback-warning-outline-fg: var(--static-color-gray-0);
    --sys-feedback-warning-outline-border: var(--static-color-orange-450);
    --sys-feedback-warning-outline-bg: var(--static-color-overlay-light-0);
    --sys-feedback-danger-outline-fg: var(--static-color-gray-0);
    --sys-feedback-danger-outline-border: var(--static-color-red-450);
    --sys-feedback-danger-outline-bg: var(--static-color-overlay-light-0);
    --sys-feedback-default-oultine-fg-alert: var(--static-color-gray-0);
    --sys-feedback-primary-outline-fg-alert: var(--static-color-primary-100);
    --sys-feedback-info-outline-fg-alert: var(--static-color-gray-0);
    --sys-feedback-warning-outline-fg-alert: var(--static-color-gray-0);
    --sys-feedback-danger-outline-fg-alert: var(--static-color-gray-0);
    --sys-feedback-success-outline-fg-alert: var(--static-color-green-100);
    --sys-feedback-savig-solid-fg: var(--static-color-pink-600);
    --sys-feedback-savig-solid-bg: var(--static-color-pink-50);
    --sys-feedback-savig-faded-fg: var(--static-color-gray-0);
    --sys-feedback-savig-faded-bg: var(--static-color-pink-alpha-a500-24);
    --sys-feedback-savig-outline-fg: var(--static-color-gray-0);
    --sys-feedback-savig-outline-border: var(--static-color-pink-450);
    --sys-feedback-savig-outline-bg: var(--static-color-overlay-light-0);
    --sys-tooltip-bg: var(--sys-surface-container-overlay);
    --sys-tooltip-text-body: var(--sys-text-default);
    --sys-tooltip-text-heading: var(--sys-text-heading);
    --sys-feedback-default-solid-bg-active: var(--static-color-gray-100);
    --sys-feedback-default-solid-bg-hover: var(--static-color-gray-150);
    --sys-feedback-default-solid-fg-disabled: var(--ref-text-disabled);
    --sys-feedback-default-solid-bg-disabled: var(--static-color-gray-250);
    --sys-feedback-default-faded-bg-hover: var(--static-color-overlay-light-200);
    --sys-feedback-default-faded-border-active: var(--static-color-overlay-light-200);
    --sys-feedback-default-faded-bg-active: var(--static-color-overlay-light-300);
    --sys-feedback-default-faded-fg-disabled: var(--static-color-overlay-light-300);
    --sys-feedback-default-faded-bg-disabled: var(--static-color-overlay-light-100);
    --sys-feedback-default-oultine-fg-disabled: var(--static-color-overlay-light-300);
    --sys-feedback-default-oultine-border-disabled: var(--static-color-overlay-light-300);
    --sys-feedback-primary-solid-bg-focus: var(--static-color-primary-150);
    --sys-feedback-primary-solid-border-active: var(--static-color-gray-0);
    --sys-feedback-primary-solid-bg-active: var(--static-color-gray-0);
    --sys-feedback-primary-solid-bg-hover: var(--static-color-primary-100);
    --sys-feedback-primary-solid-fg-disabled: var(--ref-text-disabled);
    --sys-feedback-primary-solid-bg-disabled: var(--static-color-gray-250);
    --sys-feedback-primary-faded-bg-active: var(--static-color-primary-alpha-src500-56);
    --sys-feedback-primary-faded-bg-hover: var(--static-color-primary-alpha-src500-40);
    --sys-feedback-primary-faded-fg-disabled: var(--static-color-overlay-light-300);
    --sys-feedback-primary-faded-bg-disabled: var(--static-color-overlay-light-100);
    --sys-feedback-primary-outline-fg-disabled: var(--static-color-overlay-light-300);
    --sys-feedback-primary-outline-border-disabled: var(--static-color-overlay-light-300);
    --sys-feedback-primary-outline-bg-disabled: var(--static-color-overlay-light-0);
    --sys-tooltip-bg-primary-darker: var(--static-color-primary-900);
    --sys-tooltip-bg-primary: var(--static-color-primary-500);
    --sys-label-success-title: var(--sys-text-success);
    --sys-label-warrning-title: var(--sys-text-warning);
    --sys-label-error-asterisk: var(--sys-text-danger);
    --sys-label-default-asterisk: var(--sys-text-danger);
    --sys-label-subtle-asterisk: var(--sys-text-danger);
    --sys-label-success-asterisk: var(--sys-text-danger);
    --sys-label-warrning-asterisk: var(--sys-text-danger);
    --sys-label-disable-asterisk: var(--sys-text-disabled);
    --sys-label-default-body: var(--sys-text-default);
    --sys-label-warrning-body: var(--sys-text-default);
    --sys-label-error-body: var(--sys-text-default);
    --sys-label-disable-body: var(--sys-text-disabled);
    --sys-label-subtle-body: var(--sys-text-lighter);
    --sys-label-success-body: var(--sys-text-default);
    --sys-label-success-icon: var(--sys-text-default);
    --sys-label-warrning-icon: var(--sys-text-default);
    --sys-label-error-icon: var(--sys-text-default);
    --sys-label-default-icon: var(--sys-text-strong);
    --sys-label-disable-icon: var(--sys-text-disabled);
    --sys-label-subtle-icon: var(--sys-text-default);
    --sys-shadow-overlay: #000000;
    --sys-shadow-raised-default: #000000;
    --sys-dropdown-item-default-fg: var(--sys-text-default);
    --sys-dropdown-item-default-fg-body: var(--sys-text-lighter);
    --sys-dropdown-item-default-fg-filled: var(--sys-text-strong);
    --sys-dropdown-item-default-bg-disabled: var(--static-color-overlay-light-0);
    --sys-dropdown-item-default-border-disabled: var(--static-color-overlay-light-300);
    --sys-dropdown-item-default-fg-disabled: var(--static-color-overlay-light-600);
    --sys-dropdown-item-default-bg-hover: var(--static-color-overlay-light-50);
    --sys-dropdown-item-default-bg-active: var(--static-color-overlay-light-100);
    --sys-button-default-solid-border-hover: var(--static-color-gray-150);
    --sys-button-default-solid-border: var(--static-color-gray-200);
    --sys-button-default-solid-border-focus: var(--static-color-gray-200);
    --sys-button-default-faded-border: var(--static-color-overlay-light-100);
    --sys-button-default-faded-border-hover: var(--static-color-overlay-light-200);
    --sys-button-default-faded-border-focus: var(--static-color-overlay-light-100);
    --sys-button-primary-faded-border: var(--static-color-primary-450);
    --sys-button-primary-faded-border-hover: var(--static-color-primary-300);
    --sys-button-primary-faded-border-focus: var(--static-color-primary-450);
    --sys-button-primary-solid-border: var(--static-color-primary-450);
    --sys-button-primary-solid-border-hover: var(--static-color-primary-300);
    --sys-button-primary-solid-border-focus: var(--static-color-primary-450);
    --sys-button-disabled-border: var(--static-color-primary-250);
    --sys-dropdown-item-error-bg-hover: var(--ref-color-danger-alpha-3);
    --sys-dropdown-item-error-bg-active: var(--ref-color-danger-alpha-4);
    --sys-dropdown-item-error-fg: var(--sys-text-danger);
    --sys-dropdown-item-error-fg-body: var(--sys-text-danger);
    --sys-dropdown-item-error-fg-filled: var(--sys-text-danger);
    --sys-dropdown-item-error-bg-disabled: var(--static-color-overlay-light-0);
    --sys-dropdown-item-error-border-disabled: var(--static-color-overlay-light-300);
    --sys-dropdown-item-error-fg-disabled: var(--static-color-overlay-light-600);
    --sys-button-info-solid-border-focus: var(--static-color-overlay-light-100);
    --sys-button-info-solid-border-hover: var(--static-color-overlay-light-200);
    --sys-button-info-solid-border: var(--static-color-overlay-light-200);
    --sys-button-info-faded-border: var(--static-color-overlay-light-200);
    --sys-button-info-faded-border-hover: var(--static-color-overlay-light-200);
    --sys-button-info-faded-border-focus: var(--static-color-overlay-light-100);
    --sys-dropdown-main-devider: var(--static-color-overlay-light-300);
    --sys-dropdown-header-title-text: var(--sys-text-strong);
    --sys-dropdown-header-desc-text: var(--sys-text-default);
    --sys-surface-border-container: var(--sys-surface-main);
    --sys-surface-border-on-main-150: var(--static-color-primary-750);
    --sys-surface-border-on-container-100: var(--static-color-primary-800);
    --sys-surface-border-on-container-150: var(--static-color-primary-700);
    --sys-text-info: var(--static-color-blue-400);
    --sys-rating-unselected-bg-focus: var(--static-color-primary-300);
    --sys-rating-selected-bg-focus: var(--static-color-primary-200);
    --sys-tab-default-border-focus: var(--static-color-overlay-light-700);
    --sys-tab-default-fg-focus: var(--sys-text-strong);
    --sys-tab-default-bg-focus: var(--static-color-overlay-light-50);
    --sys-tab-solid-bg-focus: var(--static-color-overlay-light-50);
    --sys-tab-solid-fg-focus: var(--sys-text-default);
    --sys-tab-contained-bg-focus: var(--static-color-overlay-light-100);
    --sys-tab-contained-fg-focus: var(--sys-text-strong);
    --sys-button-success-solid-border-hover: var(--static-color-green-100);
    --sys-button-success-solid-border-focus: var(--static-color-green-150);
    --sys-button-success-solid-border: var(--static-color-green-150);
    --sys-button-success-faded-border: var(--static-color-green-150);
    --sys-button-success-faded-border-hover: var(--static-color-green-100);
    --sys-button-success-faded-border-focus: var(--static-color-green-150);
    --sys-button-warning-solid-border-focus: var(--static-color-orange-50);
    --sys-button-warning-solid-border-hover: var(--static-color-orange-150);
    --sys-button-warning-solid-border: var(--static-color-orange-50);
    --sys-button-warning-faded-border: var(--static-color-orange-alpha-a500-24);
    --sys-button-warning-faded-border-hover: var(--static-color-orange-alpha-a500-40);
    --sys-button-warning-faded-border-focus: var(--static-color-orange-alpha-a500-24);
    --sys-button-danger-solid-border: var(--static-color-red-50);
    --sys-button-danger-solid-border-hover: var(--static-color-red-150);
    --sys-button-danger-solid-border-focus: var(--static-color-red-50);
    --sys-button-danger-faded-border: var(--static-color-red-alpha-a500-24);
    --sys-button-danger-faded-border-hover: var(--static-color-red-alpha-a500-32);
    --sys-button-danger-faded-border-focus: var(--static-color-red-alpha-a500-24);
    --sys-button-saving-solid-border: var(--static-color-pink-50);
    --sys-button-saving-solid-border-hover: var(--static-color-pink-150);
    --sys-button-saving-solid-border-focus: var(--static-color-pink-50);
    --sys-button-saving-faded-border: var(--static-color-pink-alpha-a500-24);
    --sys-button-saving-faded-border-hover: var(--static-color-pink-alpha-a500-32);
    --sys-button-saving-faded-border-focus: var(--static-color-pink-alpha-a500-24);
    --sys-tab-button-icon-active: var(--static-color-primary-50);
    --sys-tab-button-icon-hover: var(--static-color-primary-350);
    --sys-tab-button-icon-disabled: var(--static-color-gray-alpha-a450-56);
    --sys-tab-button-icon-focus: var(--static-color-primary-350);
    --sys-tab-button-icon-fg-default: var(--static-color-overlay-light-950);
    --sys-feedback-savig-faded-fg-alert: var(--static-color-gray-0);
    --sys-feedback-savig-outline-fg-alert: var(--static-color-gray-0);
    --sys-choice-checked-error-fg-disabled: var(--ref-color-danger-300);
    --sys-choice-checked-success-fg-disabled: var(--ref-color-success-300);
    --sys-shadow-raised-strong: #000000;
    --sys-dropdown-main-bg: var(--sys-surface-container);
    --sys-accordion-heading-fg-focus: var(--sys-text-link-hover);
    --sys-dropdown-main-overlay-a0: var(--sys-surface-container-a0);
    --sys-dropdown-main-overlay-a100: var(--sys-surface-container);
    --sys-surface-container-a0: var(--static-color-primary-alpha-a600-0);
    --sys-slider-icon: var(--static-color-gray-300);
    --sys-slider-step-active: var(--sys-text-heading);
    --sys-slider-step-unactive: var(--static-color-overlay-light-400);
    --sys-slider-step-active-disabled: var(--static-color-overlay-light-300);
    --sys-slider-start-end-values: var(--sys-text-strong);
    --sys-slider-icon-disabled: var(--static-color-primary-400);

}