:root{
    --static-color-gray-1000: #000000;
    --static-color-gray-950: #07070D;
    --static-color-gray-900: #101116;
    --static-color-gray-850: #191A20;
    --static-color-gray-800: #232429;
    --static-color-gray-750: #303237;
    --static-color-gray-700: #3F4045;
    --static-color-gray-600: #5E5F63;
    --static-color-gray-550: #6E6F73;
    --static-color-gray-500: #7E7F83;
    --static-color-gray-450: #8A8B8E;
    --static-color-gray-400: #959699;
    --static-color-gray-300: #B3B4B7;
    --static-color-gray-250: #C5C6C9;
    --static-color-gray-200: #D9DADE;
    --static-color-gray-150: #E6E7EA;
    --static-color-gray-100: #F0F1F3;
    --static-color-gray-50: #F7F7F8;
    --static-color-gray-0: #FFFFFF;
    --static-color-gray-alpha-src500-08: #7E7F8314;
    --static-color-gray-alpha-a500-12: #7E7F831E;
    --static-color-gray-alpha-a500-16: #7E7F8328;
    --static-color-gray-alpha-a500-24: #7E7F833D;
    --static-color-gray-alpha-a500-32: #7E7F8351;
    --static-color-gray-alpha-a500-40: #7E7F8366;
    --static-color-gray-alpha-a500-48: #7E7F837A;
    --static-color-gray-alpha-a500-56: #7E7F838E;
    --static-color-gray-alpha-a450-08: #8A8B8E14;
    --static-color-gray-alpha-a450-12: #8A8B8E1E;
    --static-color-gray-alpha-a450-16: #8A8B8E28;
    --static-color-gray-alpha-a450-24: #8A8B8E3D;
    --static-color-gray-alpha-a450-32: #8A8B8E51;
    --static-color-gray-alpha-a450-40: #8A8B8E66;
    --static-color-gray-alpha-a450-48: #8A8B8E7A;
    --static-color-gray-alpha-a450-56: #8A8B8E8E;
    --static-color-gray-alpha-a0-0: #FFFFFF00;
    --static-color-gray-alpha-a900-0: #10111600;
    --static-color-gray-alpha-a800-0: #191A2000;
    --static-color-primary-950: #181F2C;
    --static-color-secondary-950: #192026;
    --static-color-secondary-900: #1E2C37;
    --static-color-secondary-850: #213747;
    --static-color-secondary-800: #24455C;
    --static-color-secondary-750: #2B5D7F;
    --static-color-secondary-700: #3277A5;
    --static-color-secondary-600: #499ED8;
    --static-color-secondary-550: #4EACEB;
    --static-color-secondary-500: #52BAFF;
    --static-color-secondary-450: #66BDFA;
    --static-color-secondary-400: #7AC3F7;
    --static-color-secondary-300: #A3D1F4;
    --static-color-secondary-250: #C3DFF5;
    --static-color-secondary-200: #DBEBF7;
    --static-color-secondary-150: #E6F0F8;
    --static-color-secondary-100: #ECF3F9;
    --static-color-secondary-50: #F0F6FA;
    --static-color-secondary-alpha-src500-08: #065CFE14;
    --static-color-secondary-alpha-a500-12: #065CFE1E;
    --static-color-secondary-alpha-a500-16: #065CFE28;
    --static-color-secondary-alpha-a500-24: #065CFE3D;
    --static-color-secondary-alpha-a500-32: #065CFE51;
    --static-color-secondary-alpha-a500-40: #065CFE66;
    --static-color-secondary-alpha-a500-48: #065CFE7A;
    --static-color-secondary-alpha-a500-56: #065CFE8E;
    --static-color-secondary-alpha-a450-08: #3373F814;
    --static-color-secondary-alpha-a450-12: #3373F81E;
    --static-color-secondary-alpha-a450-16: #3373F828;
    --static-color-secondary-alpha-a450-24: #3373F83D;
    --static-color-secondary-alpha-a450-32: #3373F851;
    --static-color-secondary-alpha-a450-40: #3373F866;
    --static-color-secondary-alpha-a450-48: #3373F87A;
    --static-color-secondary-alpha-a450-56: #3373F88E;
    --static-color-secondary-alpha-a750-0: #11388800;
    --static-color-secondary-alpha-a800-0: #15306500;
    --static-color-primary-900: #18253E;
    --static-color-primary-850: #172A4F;
    --static-color-primary-800: #153065;
    --static-color-primary-750: #113888;
    --static-color-primary-700: #1140A0;
    --static-color-primary-650: #0D4AC3;
    --static-color-primary-600: #0F53D9;
    --static-color-primary-550: #0C58EB;
    --static-color-primary-500: #065CFE;
    --static-color-primary-450: #256AF6;
    --static-color-primary-400: #3F7BF2;
    --static-color-primary-350: #5B8FF1;
    --static-color-primary-300: #77A1F0;
    --static-color-primary-250: #A7C2F4;
    --static-color-primary-200: #CCDCF9;
    --static-color-primary-150: #DFE9FC;
    --static-color-primary-100: #E8F0FE;
    --static-color-primary-50: #EFF4FF;
    --static-color-primary-alpha-src500-08: #065CFE14;
    --static-color-primary-alpha-src500-12: #065CFE1E;
    --static-color-primary-alpha-src500-16: #065CFE28;
    --static-color-primary-alpha-src500-24: #065CFE3D;
    --static-color-primary-alpha-src500-32: #065CFE51;
    --static-color-primary-alpha-src500-40: #065CFE66;
    --static-color-primary-alpha-src500-48: #065CFE7A;
    --static-color-primary-alpha-src500-56: #065CFE8E;
    --static-color-primary-alpha-src450-08: #3373F814;
    --static-color-primary-alpha-src450-12: #3373F81E;
    --static-color-primary-alpha-src450-16: #3373F828;
    --static-color-primary-alpha-src450-24: #3373F83D;
    --static-color-primary-alpha-src450-32: #3373F851;
    --static-color-primary-alpha-src450-40: #3373F866;
    --static-color-primary-alpha-src450-48: #3373F87A;
    --static-color-primary-alpha-src450-56: #3373F88E;
    --static-color-primary-alpha-a600-0: #0F53D900;
    --static-color-primary-alpha-a750-0: #11388800;
    --static-color-primary-alpha-a800-0: #15306500;
    --static-color-blue-950: #191F2C;
    --static-color-blue-900: #19253E;
    --static-color-blue-850: #172A4F;
    --static-color-blue-800: #162F65;
    --static-color-blue-750: #133888;
    --static-color-blue-700: #0D41AD;
    --static-color-blue-600: #1C51D9;
    --static-color-blue-550: #1457EB;
    --static-color-blue-500: #065CFE;
    --static-color-blue-450: #3172FF;
    --static-color-blue-400: #4F86FF;
    --static-color-blue-300: #86AEFF;
    --static-color-blue-250: #B3CCFF;
    --static-color-blue-200: #D2E2FF;
    --static-color-blue-150: #E2ECFF;
    --static-color-blue-100: #EAF1FF;
    --static-color-blue-50: #EFF4FF;
    --static-color-blue-alpha-a500-08: #065CFE14;
    --static-color-blue-alpha-a500-12: #065CFE1E;
    --static-color-blue-alpha-a500-16: #065CFE28;
    --static-color-blue-alpha-a500-24: #065CFE3D;
    --static-color-blue-alpha-a500-32: #065CFE51;
    --static-color-blue-alpha-a500-40: #065CFE66;
    --static-color-blue-alpha-a500-48: #065CFE7A;
    --static-color-blue-alpha-a500-56: #065CFE8E;
    --static-color-blue-alpha-a450-08: #3172FF14;
    --static-color-blue-alpha-a450-12: #3172FF1E;
    --static-color-blue-alpha-a450-16: #3172FF28;
    --static-color-blue-alpha-a450-24: #3172FF3D;
    --static-color-blue-alpha-a450-32: #3172FF51;
    --static-color-blue-alpha-a450-40: #3172FF66;
    --static-color-blue-alpha-a450-48: #3172FF7A;
    --static-color-blue-alpha-a450-56: #3172FF8E;
    --static-color-green-950: #1A211B;
    --static-color-orange-950: #261D17;
    --static-color-orange-900: #372419;
    --static-color-orange-850: #462B18;
    --static-color-orange-800: #593216;
    --static-color-orange-750: #783F12;
    --static-color-orange-700: #9A4D07;
    --static-color-orange-600: #C86815;
    --static-color-orange-550: #D97012;
    --static-color-orange-500: #EB7805;
    --static-color-orange-450: #E88337;
    --static-color-orange-400: #E89054;
    --static-color-orange-300: #EBAF89;
    --static-color-orange-250: #F0CAB3;
    --static-color-orange-200: #F5DFD2;
    --static-color-orange-150: #F8EAE1;
    --static-color-orange-100: #F9EFE9;
    --static-color-red-950: #291B1A;
    --static-color-red-900: #391F1C;
    --static-color-red-850: #47211E;
    --static-color-red-800: #5A2320;
    --static-color-red-750: #772623;
    --static-color-red-700: #972827;
    --static-color-red-600: #C03634;
    --static-color-red-550: #D03837;
    --static-color-red-500: #E03838;
    --static-color-red-450: #DE4F4A;
    --static-color-red-400: #DF655D;
    --static-color-red-300: #E6938B;
    --static-color-red-250: #EEB9B3;
    --static-color-red-200: #F6D6D3;
    --static-color-red-150: #F9E5E2;
    --static-color-red-100: #FBECEA;
    --static-color-red-alpha-a500-08: #E0393914;
    --static-color-red-alpha-a500-12: #E039391E;
    --static-color-red-alpha-a500-16: #E0393928;
    --static-color-red-alpha-a500-24: #E039393D;
    --static-color-red-alpha-a500-32: #E0393951;
    --static-color-red-alpha-a500-40: #E0393966;
    --static-color-red-alpha-a500-48: #E039397A;
    --static-color-red-alpha-a500-56: #E039398E;
    --static-color-red-alpha-a450-08: #DD615914;
    --static-color-red-alpha-a450-12: #DD61591E;
    --static-color-red-alpha-a450-16: #DD615928;
    --static-color-red-alpha-a450-24: #DD61593D;
    --static-color-red-alpha-a450-32: #DD615951;
    --static-color-red-alpha-a450-40: #DD615966;
    --static-color-red-alpha-a450-48: #DD61597A;
    --static-color-red-alpha-a450-56: #DD61598E;
    --static-color-pink-950: #2A1C1D;
    --static-color-pink-900: #391D21;
    --static-color-pink-850: #461E25;
    --static-color-pink-800: #571D28;
    --static-color-pink-750: #721B30;
    --static-color-pink-700: #8E1539;
    --static-color-pink-600: #B31945;
    --static-color-pink-550: #C1164C;
    --static-color-pink-500: #CF0C52;
    --static-color-pink-450: #D83F62;
    --static-color-pink-400: #DF5D74;
    --static-color-pink-300: #EC949E;
    --static-color-pink-250: #F5BCC1;
    --static-color-pink-200: #FAD9DC;
    --static-color-pink-150: #FDE7E8;
    --static-color-pink-100: #FEEEEF;
    --static-color-pink-50: #FEF3F4;
    --static-color-pink-alpha-a500-08: #CF0C5214;
    --static-color-pink-alpha-a500-12: #CF0C521E;
    --static-color-pink-alpha-a500-16: #CF0C5228;
    --static-color-pink-alpha-a500-24: #CF0C523D;
    --static-color-pink-alpha-a500-32: #CF0C5251;
    --static-color-pink-alpha-a500-40: #CF0C5266;
    --static-color-pink-alpha-a500-48: #CF0C527A;
    --static-color-pink-alpha-a500-56: #CF0C528E;
    --static-color-pink-alpha-a450-08: #D83F6214;
    --static-color-pink-alpha-a450-12: #D83F621E;
    --static-color-pink-alpha-a450-16: #D83F6228;
    --static-color-pink-alpha-a450-24: #D83F623D;
    --static-color-pink-alpha-a450-32: #D83F6251;
    --static-color-pink-alpha-a450-40: #D83F6266;
    --static-color-pink-alpha-a450-48: #D83F627A;
    --static-color-pink-alpha-a450-56: #D83F628E;
    --static-color-overlay-light-950: #FFFFFFCC;
    --static-color-orange-50: #FBF3EF;
    --static-color-overlay-light-900: #FFFFFFB7;
    --static-color-overlay-light-800: #FFFFFFA3;
    --static-color-overlay-light-700: #FFFFFF8E;
    --static-color-overlay-light-600: #FFFFFF7A;
    --static-color-overlay-light-500: #FFFFFF66;
    --static-color-overlay-light-400: #FFFFFF51;
    --static-color-overlay-light-300: #FFFFFF3D;
    --static-color-overlay-light-200: #FFFFFF1E;
    --static-color-overlay-light-100: #FFFFFF14;
    --static-color-overlay-light-50: #FFFFFF0A;
    --static-color-overlay-light-0: #FFFFFF00;
    --static-color-overlay-dark-950: #000000B7;
    --static-color-overlay-dark-900: #000000A3;
    --static-color-overlay-dark-800: #0000008E;
    --static-color-overlay-dark-700: #0000007A;
    --static-color-overlay-dark-600: #00000066;
    --static-color-overlay-dark-500: #00000051;
    --static-color-overlay-dark-400: #0000003D;
    --static-color-overlay-dark-300: #00000028;
    --static-color-overlay-dark-200: #0000001E;
    --static-color-overlay-dark-100: #00000014;
    --static-color-overlay-dark-50: #0000000A;
    --static-color-overlay-dark-0: #00000000;
    --static-color-green-900: #1B2A1F;
    --static-color-green-850: #1C3221;
    --static-color-green-800: #1A3D24;
    --static-color-green-750: #184E29;
    --static-color-green-700: #12602F;
    --static-color-green-600: #18793C;
    --static-color-green-550: #158340;
    --static-color-green-500: #0D8C43;
    --static-color-green-450: #339151;
    --static-color-green-400: #4E9A62;
    --static-color-green-300: #83B38D;
    --static-color-green-250: #AFCCB4;
    --static-color-green-200: #D1E2D4;
    --static-color-green-150: #E2ECE3;
    --static-color-green-100: #EAF2EC;
    --static-color-green-50: #F1F7F2;
    --static-color-red-50: #FDF2F1;
    --static-color-green-alpha-a500-08: #12834214;
    --static-color-green-alpha-a500-12: #1283421E;
    --static-color-green-alpha-a500-16: #12834228;
    --static-color-green-alpha-a500-24: #1283423D;
    --static-color-green-alpha-a500-32: #12834251;
    --static-color-green-alpha-a500-40: #12834266;
    --static-color-green-alpha-a500-48: #1283427A;
    --static-color-green-alpha-a500-56: #1283428E;
    --static-color-green-alpha-a450-08: #3B995914;
    --static-color-green-alpha-a450-12: #3B99591E;
    --static-color-green-alpha-a450-16: #3B995928;
    --static-color-green-alpha-a450-24: #3B99593D;
    --static-color-green-alpha-a450-32: #3B995951;
    --static-color-green-alpha-a450-40: #3B995966;
    --static-color-green-alpha-a450-48: #3B99597A;
    --static-color-green-alpha-a450-56: #3B99598E;
    --static-color-orange-alpha-a500-08: #F9731614;
    --static-color-orange-alpha-a500-12: #F973161E;
    --static-color-orange-alpha-a500-16: #F9731628;
    --static-color-orange-alpha-a500-24: #F973163D;
    --static-color-orange-alpha-a500-32: #F9731651;
    --static-color-orange-alpha-a500-40: #F9731666;
    --static-color-orange-alpha-a500-48: #F973167A;
    --static-color-orange-alpha-a500-56: #F973168E;
    --static-color-orange-alpha-a450-08: #F28B5314;
    --static-color-orange-alpha-a450-12: #F28B531E;
    --static-color-orange-alpha-a450-16: #F28B5328;
    --static-color-orange-alpha-a450-24: #F28B533D;
    --static-color-orange-alpha-a450-32: #F28B5351;
    --static-color-orange-alpha-a450-40: #F28B5366;
    --static-color-orange-alpha-a450-48: #F28B537A;
    --static-color-orange-alpha-a450-56: #F28B538E;
}